# git 으로 받아올 수 있는 minpac 폴더는 넣을 필요 없음
# 참조 :  https://github.com/k-takata/minpac#installation
/.vim/pack/minpac
/.vim/sessions
# python 파일에서 빌드되는 바이너리는 제외함 
/.vim/pythonx/__pycache__

# Local configuration files
*.local

# temp files
*.un~
*.swp
